.app-bg {
  position: relative;
}

.logo {
  padding: 60px 0 0 60px;
}

.line {
  left: 0;
  bottom: 140px;
  position: absolute;
  z-index: 1;
}

.line1 {
  right: 0;
  bottom: 145px;
  position: absolute;
  z-index: 1;
}

.line2 {
  position: absolute;
  z-index: 1;
  left: -95px;
  top: 7px;
}

.card {
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(157, 157, 157, 0.12);
  border-radius: 15px;
  padding: 40px 91px 0px 91px;
  width: 30%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.logo1 {
  display: flex;
  justify-content: center;
}

.heading {
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 14px;
  color: #212121;
}

.subHeading {
  text-align: center;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 24px;
  color: #545454;
}

#cName {
  margin-bottom: 28px;
  font-size: 14px;
  color: #A0A0A0;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #A0A0A0;
  font-size: 14px;
}

.companySize {
  margin-top: 20px;
  margin-bottom: 8px;
  color: #545454;
}

ul {
  padding: 0;
  margin: 0;
  clear: both;
}

li {
  list-style-type: none;
  list-style-position: outside;
  padding: 5px;
  float: left;
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999%;
}

input[type="checkbox"]+label {
  display: inline-block;
  padding: 7px 10px;
  cursor: pointer;
  color: #545454;
  background-color: #F0F0F0;
  margin-bottom: 10px;
  border-radius: 2px;
}

input[type="checkbox"]:checked+label {
  color: white;
  background-color: #3766E8;
  border-radius: 2px;
}

input[type=submit] {
  background-color: #3766E8;
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 46px 0 40px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.foot {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #545454;
}